@using System.Security.Claims;
@{
    var userRole = User.FindFirst(ClaimTypes.Role)?.Value;
    var userName = User.FindFirst(ClaimTypes.UserData)?.Value;
    ViewData["Title"] = "Tiếp nhận đặt phòng";
}
@if (User.Identity.IsAuthenticated && userRole != "Quản lý" && User.Identity.IsAuthenticated && userRole != "Nhân viên")
{
    Layout = null;
    <partial name="../Shared/404Error.cshtml" />
    return;
}
@model List<QuanLyKhachSan.Models.DatPhong>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous">
<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        min-height: 900px;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    th,
    td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }

    th {
        background-color: #f2f2f2;
    }

    .action-btn {
        padding: 8px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    .details-btn {
        background-color: #4caf50;
        color: #fff;
    }

    .accept-btn {
        background-color: #008CBA;
        color: #fff;
    }

    .cancel-btn {
        background-color: #f44336;
        color: #fff;
    }

    .action-btn:hover {
        filter: brightness(85%);
    }

    /* Popup Style */
    .popup-container {
        display: none;
        position: fixed;
        top: 15%;
        left: 30%;
        /* transform: translate(-50%, -50%); */
        background-color: #fff;
        height:80vh;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        padding: 20px;
        z-index: 1000;
        overflow-y:auto;
    }

    .overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        z-index: 999;
    }

    .button-container {
        text-align: center;
        margin-top: 20px;
    }

    .button {
        padding: 10px;
        margin: 0 10px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

        .button:hover {
            filter: brightness(85%);
        }
</style>
<body>
    <section>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Tổng quan</a></li>
            <li class="breadcrumb-item active" aria-current="page">Tiếp nhận đặt phòng</li>
        </ol>
    </section>
    @{
        int stt = 0;
    }
    <table class="table table-striped table-bordered" id="table_detail" style="border:1px solid #343A40">
        <thead class="thead-dark ">
        <tr>
                <th scope="col" class="text-center">#</th>
                <th scope="col" class="text-center">Mã đặt phòng</th>
                <th scope="col" class="text-center">Tên khách hàng</th>
                <th scope="col" class="text-center">Số điện thoại</th>
                <th scope="col" class="text-center">Mã Phòng-Loại phòng</th>
                <th scope="col" class="text-center">Thời gian nhận phòng</th>
                <th scope="col" class="text-center">Thời gian trả phòng</th>
                <th scope="col" class="text-center">Xử lý</th>
        </tr>
        </thead>
        @foreach (var item in Model)
        {
            stt++;
            <tr>
                <td>@stt</td>
                <td>@item.MaDatPhong</td>
                <td>@item.KhachHang.TenKhachHang</td>
                <td>@item.KhachHang.SoDienThoai</td>
                <td>@item.Phong.MaPhong - @item.Phong.LoaiPhong.TenLoaiPhong</td>
                <td>@item.NgayNhan.ToString("yyyy-MM-dd hh:mm tt")</td>
                <td>@item.NgayTra.ToString("yyyy-MM-dd hh:mm tt")</td>
                <td>
                    <button class="action-btn accept-btn" onclick="openPopup('@item.MaDatPhong')">Chi tiết</button>
                    <button class="action-btn details-btn" onclick="nhanPhongChiTiet('@item.MaDatPhong')">Nhận</button>
                    <button class="action-btn cancel-btn" onclick="huyDatPhongChiTiet('@item.MaDatPhong')">Hủy</button>
                </td>
            </tr>
        }
    </table>


    <div class="overlay" id="overlay"></div>
    <div class="popup-container" id="popup">
        <div class="header">
            <h1 class="title">Xác nhận yêu cầu đặt phòng</h1>
        </div>
        <div class="content">
            <table class="table">
                <tr>
                    <th>Mã đặt phòng</th>
                    <td id="MaDatPhong_ChiTiet">{{maDatPhong}}</td>
                </tr>
                <tr>
                    <th>Mã phòng</th>
                    <td id="MaPhong_ChiTiet">{{maPhong}}</td>
                </tr>
                <tr>
                    <th>Mã khách hàng</th>
                    <td id="MaKhachHang_ChiTiet">{{maKhachHang}}</td>
                </tr>
                <tr>
                    <th>Tên khách hàng</th>
                    <td id="TenKhachHang_ChiTiet">{{tenKhachHang}}</td>
                </tr>
                <tr>
                    <th>Số lượng người lớn và trẻ em</th>
                    <td id="SoLuongNguoiLon_ChiTiet">{{soLuongNguoiLon}} người lớn - {{soLuongTreEm}} trẻ em</td>
                </tr>
                <tr>
                    <th>Hình thức đặt phòng</th>
                    <td id="HinhThucDatPhong_ChiTiet">{{hinhThucDatPhong}}</td>
                </tr>
                <tr>
                    <th>CCCD</th>
                    <td id="CCCD_ChiTiet">{{cccd}}</td>
                </tr>
                <tr>
                    <th>Số điện thoại</th>
                    <td id="SoDienThoai_ChiTiet">{{soDienThoai}}</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td id="Email_ChiTiet">{{Email}}</td>
                </tr>
                <tr>
                    <th>Thông tin đặt phòng</th>
                    <td>
                        <table class="table">
                            <tr>
                                <th>Loại phòng</th>
                                <td id="LoaiPhong_ChiTiet">{{loaiPhong}}</td>
                            </tr>
                            <tr>
                                <th>Giá phòng</th>
                                <td id="GiaPhong_ChiTiet">{{giaPhong}}</td>
                            </tr>
                            <tr>
                                <th>Thời gian nhận phòng</th>
                                <td id="ThoiGianNhanPhong_ChiTiet">{{thoiGianNhanPhong}}</td>
                            </tr>
                            <tr>
                                <th>Thời gian trả phòng</th>
                                <td id="ThoiGianTraPhong_ChiTiet">{{thoiGianTraPhong}}</td>
                            </tr>

                        </table>
                    </td>
                </tr>
                <tr>
                    <th>Các dịch vụ đi kèm</th>
                    <td id="DichVuDiKem_ChiTiet">
                        <ul>
                            <li>{{dichVuDiKem1}}</li>
                            <li>{{dichVuDiKem2}}</li>
                            <li>...</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <th>Tổng tiền</th>
                    <td id="TongTien_ChiTiet">{{TongTien}}</td>
                </tr>
            </table>


            <div class="button-container">
                <button class="action-btn cancel-btn" onclick="closePopup()">Đóng</button>
                <button class="action-btn cancel-btn" onclick="huyDatPhong()">Hủy đặt phòng</button>
                <button class="action-btn details-btn" onclick="chapNhanDatPhong()">Chấp nhận đặt phòng</button>
            </div>
        </div>
    </div>
    <script src="~/js/TiepNhanPhong.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        function showSwalToast(icon, title) {
            const Toast = Swal.mixin({
                toast: true,
                position: "top-end",
                showConfirmButton: false,
                timer: 1500,
                timerProgressBar: true,
                didOpen: (toast) => {
                    toast.onmouseenter = Swal.stopTimer;
                    toast.onmouseleave = Swal.resumeTimer;
                }
            });

            Toast.fire({
                icon: icon,
                title: title
            });
        }
        var swalIcon = '@TempData["SwalIcon"]';
        var swalTitle = '@TempData["SwalTitle"]';

        if (swalIcon && swalTitle) {
            showSwalToast(swalIcon, swalTitle);
        }
    </script>


</body>