@using System.Security.Claims;
@{
    var userRole = User.FindFirst(ClaimTypes.Role)?.Value;
    var userName = User.FindFirst(ClaimTypes.UserData)?.Value;
    ViewData["Title"] = "Quản lý khách hàng";
}
@if (User.Identity.IsAuthenticated && userRole != "Quản lý" && User.Identity.IsAuthenticated && userRole != "Nhân viên")
{
    Layout = null;
    <partial name="../Shared/404Error.cshtml" />
    return;
}
@model IEnumerable<QuanLyKhachSan.Models.KhachHang>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <link rel="stylesheet" href="~/CssKhachHang/CssKhachHang.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>
<body>
    <section>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Tổng quan</a></li>
            <li class="breadcrumb-item active" aria-current="page">Khách hàng</li>
        </ol>
    </section>
    <!-- Popup - Thêm Khách Hàng -->
    <div class="form-popup mb-2" id="myForm">
        <!-- Form Thêm Khách Hàng -->
        <form class="form-container" method="post" id="myForm">
            <h1 style="font-family:Roboto;">Thêm khách hàng </h1>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Mã khách hàng</label>
                        <input class="form-control" name="makhachhang" id="inputFieldMaKH" maxlength="6" readonly placeholder="Mã khách hàng tự động" />
                        <span id="errorMaKH" style="color: red;"></span>
                    </div>
                    <div class="form-group">
                        <label>Tên khách hàng</label>
                        <input class="form-control" name="tenkhachhang" id="inputFieldTenKH" />
                        <span id="errorTenKH" style="color: red;"></span>
                    </div>
                    <div class="form-group">
                        <label>Số điện thoại</label>
                        <input class="form-control" name="sodienthoai" id="inputFieldSDT" maxlength="10" />
                        <span id="errorSDT" style="color: red;"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Địa chỉ</label>
                        <input class="form-control" name="diachi" id="inputFieldDiaChi" maxlength="50" />
                        <span id="errorDiaChi" style="color: red;"></span>
                    </div>
                    <div class="form-group">
                        <label>CCCD</label>
                        <input class="form-control" name="cccd" id="inputFieldCCCD" maxlength="12" />
                        <span id="errorCCCD" style="color: red;"></span>
                    </div>
                    <div class="form-group">
                        <label>Giới tính</label>
                        <select class="form-control" name="gioitinh">
                            <option value="Nam">
                                Nam
                            </option>
                            <option value="Nữ">
                                Nữ
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Ngày sinh</label>
                        <input class="form-control" type="date" name="ngaysinh" id="inputFieldNgaySinh" />
                        <span id="errorNgaySinh" style="color: red;"></span>
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input class="form-control" name="email" id="inputFieldEmail" />
                        <span id="errorEmail" style="color: red;"></span>
                    </div>
                    <div class="form-group">
                        <label>Mật khẩu</label>
                        <input class="form-control" name="matkhau" id="inputFieldMK" maxlength="30" />
                        <span id="errorMK" style="color: red;"></span>
                    </div>
                </div>
            </div>
            <!-- Nút Đóng và Thêm Khách Hàng -->
            <div class="clearfix">
                <button type="button" class="btn float-right m-2 w-25 cancel" onclick="closeForm()">Đóng</button>
                <button class="btn float-right m-2 w-25" style="min-width:200px" asp-action="ThemKhachHang" asp-controller="KhachHang">Thêm khách hàng</button>

            </div>
        </form>
    </div>

    <!-- Popup - Sửa Khách Hàng -->
    <div class="form-popupEdit mb-2" id="myFormEdit">
        <!-- Form Sửa Khách Hàng -->
        <form class="form-container" method="post" id="myFormEdit">
            <h1 style="font-family:Roboto;">Sửa khách hàng </h1>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Mã khách hàng</label>
                        <input class="form-control MaKhachHangEdit" name="makhachhang" readonly />
                    </div>
                    <div class="form-group">
                        <label>Tên khách hàng</label>
                        <input class="form-control TenKhachHangEdit" name="tenkhachhang" id="inputEditTenKH" />
                        <span id="errorEditTenKH" style="color: red;"></span>
                    </div>
                    <div class="form-group">
                        <label>Số điện thoại</label>
                        <input class="form-control SdtEdit" name="sodienthoai" id="inputEditSDT" maxlength="10" />
                        <span id="errorEditSDT" style="color: red;"></span>
                    </div>
                    <div class="form-group">
                        <label>Địa chỉ</label>
                        <input class="form-control DiaChiEdit" name="diachi" id="inputEditDiaChi" maxlength="50" />
                        <span id="errorEditDiaChi" style="color: red;"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Email</label>
                        <input class="form-control EmailEdit" name="email" id="inputEditEmail" />
                        <span id="errorEditEmail" style="color: red;"></span>
                    </div>
                    <div class="form-group">
                        <label>CCCD</label>
                        <input class="form-control CccdEdit" name="cccd" id="inputEditCCCD" maxlength="12" />
                        <span id="errorEditCCCD" style="color: red;"></span>
                    </div>
                    <div class="form-group">
                        <label>Ngày sinh</label>
                        <input class="form-control NgaySinhEdit" type="date" name="ngaysinh" id="inputEditNgaySinh" />
                        <span id="errorEditNgaySinh" style="color: red;"></span>
                    </div>
                    <div class="form-group">
                        <label>Giới tính</label>
                        <select class="form-control GioiTinhEdit" name="gioitinh">
                            <option value="Nam">
                                Nam
                            </option>
                            <option value="Nữ">
                                Nữ
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
      
                    <div class="form-group">
                        <label>Tình trạng</label>
                        <select class="form-control TinhTrangEdit" name="tinhtrang">
                            <option value="Đang hoạt động">
                                Đang hoạt động
                            </option>
                            <option value="Ngừng hoạt động">
                                Ngừng hoạt động
                            </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Mật khẩu</label>
                        <input class="form-control MatKhauEdit" name="matkhau" id="inputEditMK" maxlength="30" />
                        <span id="errorEditMK" style="color: red;"></span>
                    </div>
                    <div class="form-group">
                        <label>Ngày đăng ký</label>
                        <input class="form-control NgayDangKyEdit" name="NgayDangKy" id="inputEditNgayDangKy" readonly />
                    </div>
                </div>
            </div>
            <!-- Nút Đóng và Sửa Khách Hàng -->
            <div class="clearfix">
                <button type="button" class="btn float-right m-2 w-25 cancel" onclick="CloseFormEdit()">Đóng</button>
                <button type="submit" class="btn float-right m-2 w-25" style="min-width:200px" asp-action="SuaKhachHang" asp-controller="KhachHang">Sửa khách hàng</button>
            </div>
        </form>
    </div>


    <div id="overlayUploadExcel" class="overlayUploadExcel"></div>
    <div id="uploadPopup" class="popupUploadExcel">
        <div class="popup-contentUploadExcel">
            <span class="closeUploadExcel" onclick="closePopup()">&times;</span>
            <form method="post" enctype="multipart/form-data" asp-controller="KhachHang" asp-action="Import">
                <div class="form-group">
                    <div class="col-md-10">
                        <p>Chọn file Excel để upload:</p>
                        <input type="file" name="formFile" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <input type="submit" class="btn btn-primary" value="Upload" />
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <button class="btn btn-primary text-white mb-3 ml-3" id="uploadBtn">Upload Excel</button>
        <a class="btn btn-success mb-3 ml-2" id="btn_exportPDF" asp-controller="KhachHang" asp-action="ExportPDF">Export to PDF</a>
        <a class="btn btn-success mb-3 ml-2" id="btn_export" asp-controller="KhachHang" asp-action="ExportExcel">Export to Excel</a>
    </div>

    <!-- Nút Thêm Khách Hàng -->
    <div class="row">
        <div class="col-sm-4">
            <a class="btn btn-primary mb-2 w-50 text-white" id="btn_themKh" onclick="openForm()">Thêm khách hàng</a>
        </div>
        <div class="col-sm-6">
            <input type="text" id="searchInput" class="form-control mb-3" placeholder="Tìm kiếm">
        </div>
    </div>
    <!-- Bảng Hiển Thị Danh Sách Khách Hàng -->
    <div id="detailKhachHang">
        <table class="table table-striped table-bordered" id="table_detail" style="border:1px solid #343A40">
            <thead class="thead-dark">
                <tr>
                    <th scope="col" class="align-middle text-center" hidden>
                        <input type="checkbox" id="thead_checkbox" />
                    </th>
                    <th scope="col" class="align-middle text-center"> #</th>
                    <th scope="col" class="align-middle text-center">Khách hàng</th>
                    <th scope="col" class="align-middle text-center">Giới tính</th>
                    <th scope="col" class="align-middle text-center">Số điện thoại</th>
                    <th scope="col" class="align-middle text-center">Địa chỉ</th>
                    <th scope="col" class="align-middle text-center">CCCD</th>
                    <th scope="col" class="align-middle text-center">Email</th>
                    <th scope="col" class="align-middle text-center">Ngày sinh</th>
                    <th scope="col" class="align-middle text-center">Mật khẩu</th>
                    <th scope="col" class="align-middle text-center">Ngày đăng ký</th>
                    <th scope="col" class="align-middle text-center">Tình trạng</th>
                    <th scope="col" class="align-middle text-center thead_xuly">Xử lý</th>
                </tr>
            </thead>

            <!-- Dữ liệu Khách Hàng -->
            <form name="main">
            <tbody>
                    @{
                        int stt = 0;
                    }
                    @foreach (var kh in Model)
                    {
                        stt = stt + 1;
                    <tr data-ma-kh="@kh.MaKhachHang" data-ten-kh="@kh.TenKhachHang" data-gioiTinh="@kh.GioiTinh" data-sdt="@kh.SoDienThoai" data-diaChi="@kh.DiaChi" data-cccd="@kh.CCCD" data-email="@kh.Email" data-ngaySinh="@kh.NgaySinh?.ToShortDateString()" data-matKhau="@kh.MatKhau" data-ngayDangKy="@kh.NgayDangKy.ToShortDateString()" data-tinhTrang="@kh.TinhTrang" data-email="@kh.Email">
                        <td class="align-middle checkBox_td" hidden><input type="checkbox" name="checkBox_Name" class="tbody_checkbox" onclick="KiemTraCheckBox()" /></td>
                        <td class="employee-info-column">
                                @stt
                        </td>
                        <td class="employee-info-column ">
                            <div class="row">
                                <div>
                                    <span class=" text-warning">@kh.MaKhachHang</span>
                                    <p>@kh.TenKhachHang</p>
                                </div>
                            </div>
                        </td>
                        <td class="employee-info-column">@kh.GioiTinh</td>
                        <td class="employee-info-column">@kh.SoDienThoai</td>
                        <td class="employee-info-column">@kh.DiaChi</td>
                        <td class="employee-info-column">@kh.CCCD</td>
                        <td class="employee-info-column">@kh.Email</td>
                        <td class="employee-info-column">@kh.NgaySinh?.ToShortDateString()</td>
                        <td class="employee-info-column">@kh.MatKhau</td>
                        <td class="employee-info-column">@kh.NgayDangKy.ToShortDateString()</td>
                        <td class="employee-info-column">@kh.TinhTrang</td>

                        @* <td style="font-size:20px" class="employee-info-column-button">
                            <div class="dropdown">
                                <button class="btn btn-secondary check_checkbox_checked" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style=" background-color: rgba(0, 0, 0, 0);">
                                    <i class="bi bi-three-dots-vertical icon_threeDot"></i>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item check_checkbox" onclick="OpenFormEdit()" id="btn_Sua">Sửa</a>
                                    <a class="dropdown-item" asp-action="XoaKhachHang" asp-controller="KhachHang" asp-route-id="@kh.MaKhachHang">Xóa</a>
                                </div>
                            </div>
                        </td> *@

                        <td style="font-size:20px" class="employee-info-column-button">
                            <div class="dropdown">
                                <button class="btn btn-secondary check_checkbox_checked" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: rgba(0, 0, 0, 0);">
                                    <i class="bi bi-three-dots-vertical icon_threeDot"></i>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item check_checkbox" onclick="OpenFormEdit()" id="btn_Sua">Sửa</a>
                                    <a class="dropdown-item" onclick="confirmDelete('@kh.MaKhachHang', '@kh.TenKhachHang')">Xóa</a>
                                </div>
                            </div>
                        </td>

                    </tr>
                    }
            </tbody>
            </form>
        </table>
    </div>

    <!-- Các Thư Viện JavaScript Cần Thiết -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="~/JsKhachHang/khachhang.js"></script>
    <script src="~/Folder_KiemLoiInput/ErrorKhachHang.js"></script>


    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        function showSwalToast(icon, title) {
            const Toast = Swal.mixin({
                toast: true,
                position: "top-end",
                showConfirmButton: false,
                timer: 1500,
                timerProgressBar: true,
                didOpen: (toast) => {
                    toast.onmouseenter = Swal.stopTimer;
                    toast.onmouseleave = Swal.resumeTimer;
                }
            });

            Toast.fire({
                icon: icon,
                title: title
            });
        }
        var swalIcon = '@TempData["SwalIcon"]';
        var swalTitle = '@TempData["SwalTitle"]';

        if (swalIcon && swalTitle) {
            showSwalToast(swalIcon, swalTitle);
        }
    </script>
    <script>
        $(document).ready(function () {
            $("#searchInput").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("table tbody tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
                });
            });

            // Bắt sự kiện thay đổi giá trị trong dropdown "Show"
            $('select[name="example_length"]').on('change', function () {
                var selectedValue = $(this).val();
                $('#formExample').submit(); // Gửi biểu mẫu khi giá trị thay đổi
            });
        });
    </script>
    @* UploadExcel *@
    <script>
        function openPopup() {
            document.getElementById('uploadPopup').style.display = 'block';
            document.getElementById('overlayUploadExcel').style.display = 'block';
        }

        function closePopup() {
            document.getElementById('uploadPopup').style.display = 'none';
            document.getElementById('overlayUploadExcel').style.display = 'none';
        }

        function uploadExcel() {
            closePopup();
        }
        document.getElementById('uploadBtn').addEventListener('click', openPopup);
    </script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script>
        function confirmDelete(maKhachHang, tenKhachHang) {
            Swal.fire({
                title: 'Bạn có chắc chắn?',
                text: 'Muốn xóa ' + maKhachHang + '-' + tenKhachHang + ' không?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes'
            }).then((result) => {
                if (result.isConfirmed) {
                    // Nếu người dùng chọn Yes, thực hiện xóa
                    window.location.href = "/KhachHang/XoaKhachHang?id=" + maKhachHang;
                }
            });
        }
    </script>
</body>

</html>
