@model QuanLyKhachSan.Models.KhachHang
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Hồ sơ khách hàng</title>
    <style>

        .edit-mode .display-mode {
            display: none;
        }

        .edit-mode .edit-mode-input {
            display: inline-block;
        }

        .edit-mode .display-mode a,
        .display-mode .edit-mode-input {
            display: none;
        }

        .non-editable {
            pointer-events: none;
            cursor: default;
        }

        .list-group a {
            font-size: .8em;
            text-decoration: none;
        }
    </style>
</head>

<body>
    <div class="container">
        <h2>Hồ sơ</h2>
        <form asp-action="LuuThongTinHoSo" asp-controller="KhachHang" method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="col-md-6">
                    <ul class="list-group">

                        <!-- Tên khach hang-->
                        <li class="list-group-item display-mode" id="customerName">
                            <strong>Tên khách hàng:</strong>
                            <span class="display-mode" id="customerName">@Model.TenKhachHang</span>
                            <a href="#" onclick="editMode('customerName')">Chỉnh Sửa</a>
                            <input type="text" id="editedValue_customerName" asp-for="TenKhachHang" class="form-control edit-mode-input mb-1"
                                   style="display: none;">
                            <a href="#" class="btn btn-success edit-mode-input" style="display: none;"
                               onclick="saveEdit('customerName')">Lưu</a>
                            <a href="#" class="btn btn-secondary edit-mode-input" style="display: none;"
                               onclick="cancelEdit('customerName')">Hủy</a>
                        </li>

                        <!-- Số Điện Thoại -->
                        <li class="list-group-item display-mode" id="phoneNumberItem">
                            <strong>Số Điện Thoại:</strong>
                            <span class="display-mode" id="phoneNumber">@Model.SoDienThoai</span>
                            <a href="#" onclick="editMode('phoneNumber')">Chỉnh Sửa</a>
                            <input type="text" id="editedValue_phoneNumber" asp-for="SoDienThoai" class="form-control edit-mode-input mb-1"
                                   style="display: none;">
                            <a href="#" class="btn btn-success edit-mode-input" style="display: none;"
                               onclick="saveEdit('phoneNumber')">Lưu</a>
                            <a href="#" class="btn btn-secondary edit-mode-input" style="display: none;"
                               onclick="cancelEdit('phoneNumber')">Hủy</a>
                        </li>

                        <!-- CCCD -->
                        <li class="list-group-item display-mode" id="cccdItem">
                            <strong>CCCD:</strong>
                            <span class="display-mode" id="cccd">@Model.CCCD</span>
                            <a href="#" onclick="editMode('cccd')">Chỉnh Sửa</a>
                            <input type="text" id="editedValue_cccd" asp-for="CCCD" class="form-control edit-mode-input mb-1"
                                   style="display: none;">
                            <a href="#" class="btn btn-success edit-mode-input" style="display: none;"
                               onclick="saveEdit('cccd')">Lưu</a>
                            <a href="#" class="btn btn-secondary edit-mode-input" style="display: none;"
                               onclick="cancelEdit('cccd')">Hủy</a>
                        </li>

                        <!-- Email -->
                        <li class="list-group-item display-mode" id="emailItem">
                            <strong>Email:</strong>
                            <span class="display-mode" id="email">@Model.Email</span>
                            <a href="#" onclick="editMode('email')">Chỉnh Sửa</a>
                            <input type="email" id="editedValue_email" asp-for="Email" class="form-control edit-mode-input mb-1"
                                   style="display: none;">
                            <a href="#" class="btn btn-success edit-mode-input" style="display: none;"
                               onclick="saveEdit('email')">Lưu</a>
                            <a href="#" class="btn btn-secondary edit-mode-input" style="display: none;"
                               onclick="cancelEdit('email')">Hủy</a>
                        </li>

                        <!-- Giới Tính -->
                        <li class="list-group-item display-mode" id="genderItem">
                            <strong>Giới Tính:</strong>
                            <span class="display-mode" id="gender">@Model.GioiTinh</span>
                            <select id="editedValue_gender" asp-for="GioiTinh" class="form-control edit-mode-input mb-1"
                                    style="display: none;">
                                <option value="Nam">Nam</option>
                                <option value="Nữ">Nữ</option>
                            </select>
                            <a href="#" onclick="editMode('gender')">Chỉnh Sửa</a>
                            <a href="#" class="btn btn-success edit-mode-input" style="display: none;"
                               onclick="saveEdit('gender')">Lưu</a>
                            <a href="#" class="btn btn-secondary edit-mode-input" style="display: none;"
                               onclick="cancelEdit('gender')">Hủy</a>
                        </li>
                        <li class="list-group-item display-mode non-editable" id="dobItem">
                            <strong>Ngày Sinh:</strong>
                            <span class="display-mode" id="dob">01/01/1990</span>

                        </li>

                        <!-- Địa Chỉ -->
                        <li class="list-group-item display-mode" id="addressItem">
                            <strong>Địa Chỉ:</strong>
                            <span class="display-mode" id="address">@Model.DiaChi</span>
                            <a href="#" onclick="editMode('address')">Chỉnh Sửa</a>
                            <input type="text" id="editedValue_address" asp-for="DiaChi" class="form-control edit-mode-input mb-1"
                                   style="display: none;">
                            <a href="#" class="btn btn-success edit-mode-input" style="display: none;"
                               onclick="saveEdit('address')">Lưu</a>
                            <a href="#" class="btn btn-secondary edit-mode-input" style="display: none;"
                               onclick="cancelEdit('address')">Hủy</a>
                        </li>

                        <!-- Mật Khẩu -->
                        <li class="list-group-item display-mode" id="passwordItem">
                            <strong>Mật Khẩu:</strong>
                            <span class="display-mode" id="password">@Model.MatKhau</span>
                            <a href="#" onclick="editMode('password')">Chỉnh Sửa</a>
                            <input type="password" id="editedValue_password" asp-for="MatKhau" class="form-control edit-mode-input mb-1"
                                   style="display: none;">
                            <a href="#" class="btn btn-success edit-mode-input" style="display: none;"
                               onclick="saveEdit('password')">Lưu</a>
                            <a href="#" class="btn btn-secondary edit-mode-input" style="display: none;"
                               onclick="cancelEdit('password')">Hủy</a>
                        </li>

                        <!-- Ngày Đăng Ký -->
                        <li class="list-group-item display-mode non-editable" id="registrationDateItem">
                            <strong>Ngày Đăng Ký:</strong>
                            <span class="display-mode" id="registrationDate">@Model.NgayDangKy</span>
                        </li>
                    </ul>
                </div>
            </div>
        </form>
    </div>

    <script>
        var editingField = null;

        function editMode(fieldId) {
            if (editingField) {
                return;
            }

            editingField = fieldId;

            document.getElementById(fieldId + 'Item').classList.add('edit-mode');

            var currentValue = document.getElementById(fieldId).innerText;
            document.getElementById('editedValue_' + fieldId).value = currentValue;

            document.getElementById(fieldId + 'Item').querySelector('.edit-mode-input').style.display = 'inline-block';
            document.getElementById(fieldId + 'Item').querySelector('.btn.btn-success.edit-mode-input').style.display = 'inline-block';
            document.getElementById(fieldId + 'Item').querySelector('.btn.btn-secondary.edit-mode-input').style.display = 'inline-block';

            document.getElementById(fieldId + 'Item').querySelector('.display-mode a').style.display = 'none';
        }

        function saveEdit(fieldId) {
            var editedValue = document.getElementById('editedValue_' + fieldId).value;
            document.getElementById(fieldId).innerText = editedValue;
            cancelEdit(fieldId);
        }

        function cancelEdit(fieldId) {
            document.getElementById(fieldId + 'Item').classList.remove('edit-mode');

            document.getElementById(fieldId + 'Item').querySelector('.edit-mode-input').style.display = 'none';
            document.getElementById(fieldId + 'Item').querySelector('.btn.btn-success.edit-mode-input').style.display = 'none';
            document.getElementById(fieldId + 'Item').querySelector('.btn.btn-secondary.edit-mode-input').style.display = 'none';
            document.getElementById('editedValue_' + fieldId).value = '';

            document.getElementById(fieldId + 'Item').querySelector('.display-mode a').style.display = 'inline-block';

            editingField = null;
        }
    </script>

</body>

</html>