    @model List<QuanLyKhachSan.Models.Phong>
@inject ApplicationDbContext _db
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
          integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/CssDatPhong/cssDatPhong.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Add these to the head section of your HTML -->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


</head>
<body>
    <section>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Tổng quan</a></li>
            <li class="breadcrumb-item active" aria-current="page">Đặt phòng</li>
        </ol>
    </section>
    <div class="container">

        <div>
            <button type="button" id="TimKiemTatCa" class="btn btn-light active" onclick="TimKiemTatCa()">Tất cả</button>
            <button type="button" id="TimKiemTrong" class="btn btn-light" onclick="TimKiemTrong()">Trống</button>
            <button type="button" id="TimKiemDaDat" class="btn btn-light" onclick="TimKiemDaDat()">Đã đặt</button>
        </div>
        <div id="totalRoom" class="container">
            <div class="row">
                @foreach (var phong in Model)
                {
                    <div class="col-md-2 ml-5">
                        <div class="room">
                            <img src="https://th.bing.com/th/id/R.efd003d87199ce8c240aa1fd56acc44b?rik=pAFLUJIULbXf%2bg&pid=ImgRaw&r=0" alt="" class="image_room mt-2">

                            @{
                                var currentDate = DateTime.Now;
                                var isReservationApproved = _db.DatPhong.Any(dp =>
                                dp.MaPhong == phong.MaPhong &&
                                dp.TinhTrang == "Đã được duyệt" &&
                                dp.NgayNhan <= currentDate &&
                                dp.NgayTra > currentDate
                                );
                            }

                            @if (isReservationApproved)
                            {
                                <span class="trangthai text-white" style="background-color:red;">Đã được thuê</span>
                            }
                            else    
                            {
                                <span class="trangthai">Trống</span>
                            }
                            @{
                                var qr_GiaPhong_MaPhong = _db.LoaiPhong.FirstOrDefault(s => s.MaLoaiPhong == phong.MaLoaiPhong);
                            }
                            <span class="maphong">@phong.MaPhong</span>
                            <span class="loaiphong">@qr_GiaPhong_MaPhong.TenLoaiPhong</span>
                            <div class="gia_theo_gio_div">
                                <span class="title_giatheogio">Giá theo giờ: </span>


                                <span class="content_giatheogio text-right">@qr_GiaPhong_MaPhong.GiaTheoGio</span>
                            </div>
                            <div class="gia_theo_ngay_div">
                                <span class="title_giatheongay">Giá theo ngày: </span>
                                <span class="content_giatheongay">@qr_GiaPhong_MaPhong.GiaPhongTheoNgay</span>
                            </div>
                            <div class="dropdown icon_3cham ">
                                <button type="button" data-toggle="dropdown" class="btn_threedot">
                                    <i class="bi bi-three-dots"></i>
                                </button>

                                <div class="dropdown-menu">
                                    <a class="dropdown-item" onclick="showSearchBar('@phong.MaPhong')">Đặt phòng</a>
                                    @if (isReservationApproved)
                                    {
                                        <a class="dropdown-item" onclick="openPopupThanhToan('@phong.MaPhong')">Thanh toán</a>

                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>

        <div class="popup-overlay" id="popupOverlay">
            <div class="popup-content">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Đặt/Nhận phòng nhanh - <span id="MaPhong_PopUp_DatPhong">P0001</span></h2>
                        <i class="fa-solid fa-xmark close-icon" onclick="closePopup()"></i>
                    </div>

                    <div class="popup-kh col-md-12" id="searchBar">
                        <i class="fa fa-search"></i>

                        <input list="SearchMaKhachHang" id="MaKhachHangDatPhong" name="MaKhachHang" placeholder="Tìm kiếm khách hàng"/>
                        @{
                            var qr_khachHang = _db.KhachHang.ToList();
                        }
                        <datalist id="SearchMaKhachHang">
                            @foreach (var item in qr_khachHang)
                            {
                                <option value="@item.MaKhachHang | @item.TenKhachHang | @item.CCCD | @item.SoDienThoai">
                                    Tên: @item.TenKhachHang - Số điện thoại: @item.SoDienThoai - CCCD: @item.CCCD
                                </option>
                            }
                        </datalist>

                        <i class="fa fa-circle-plus" onclick="showForm()" hidden></i>
                        <span id="errorKhachHang" style="color: red;"></span>

                    </div>



                    <div class="col-md-3 mx-auto">
                        <div class="form-group">
                            <label for="gioiTinh">Loại phòng</label>
                            <input type="text" id="MaLoaiPhong_PopUpDatPhong" class="form-control" readonly/>
                            

                        </div>
                        <div class="form-group">
                            <label for="hinhThuc">Hình thức</label>
                            <select class="form-control" name="hinhThuc" id="hinhThuc_PopUpDatPhong">
                                <option value="Ngay">Ngày</option>
                                <option value="Gio" selected>Giờ</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="giaPhong">Giá phòng</label>
                            <input type="text" class="form-control" name="giaPhong" id="giaPhong_PopUpDatPhong" readonly required>
                        </div>
                      
                    </div>
                    <div class="col-md-4 mx-auto">
                        <div class="form-group">
                            <label for="ngayNhanPhong">Ngày nhận phòng</label>
                            <input type="datetime-local" class="form-control" name="ngayNhanPhong" id="ngayNhanPhong_PopUpDatPhong" required>
                            <span id="errorNgayNhan" style="color: red;"></span>
                        </div>
                      
                        <div class="form-group">
                            <label for="tongNguoiLon">Tổng số người lớn (Tối đa: <span id="SoNgLonToiDaPopUp_DatPhong"></span>)</label>
                            <input type="text" class="form-control" name="tongNguoiLon" min="1" value="1" id="tongNguoiLon" required>
                            <span id="errorTongSoNguoiLon" style="color: red;"></span>

                        </div>
                        
                    </div>
                    <div class="col-md-4 m">
                        <div class="form-group">
                            <label for="ngayTraPhong">Ngày trả phòng</label>
                            <input type="datetime-local" class="form-control" name="ngayTraPhong" id="ngayTraPhong_PopUpDatPhong" required>
                            <span id="errorNgayTra" style="color: red;"></span>

                        </div>
                        <div class="form-group">
                            <label for="tongTreEm">Tổng số trẻ em (Tối đa: <span id="SoTreEmToiDaPopUp_DatPhong"></span>)</label>
                            <input type="text" class="form-control" name="tongTreEm" id="tongTreEm" min="1" value="1" required> 
                            <span id="errorTongSoTreEm" style="color: red;"></span>

                        </div>

                        @* KHÁCH TRẢ TRƯỚC *@
                      @*   <div class="form-group">
                            <label for="khachTraTruoc">Khách trả trước</label>
                            <input type="number" min="0" value="0" class="form-control" name="khachTraTruoc" id="khachTraTruoc" required>
                            <span id="errorKhachTraTruoc" style="color: red;"></span>
                        </div> *@
                      
                      @*   <div id="ChonDichVu" class="mt-4">
                      
                         </div>
                        <button type="button" class="btn btn-outline-success" id="AddThemDichVu">
                            <i class="bi bi-plus"></i> Thêm dịch vụ
                        </button> *@
                    </div>

                    <div class="col-md-12">
                        <div id="ChonDichVu" class="mt-4">
                        </div>
                        <button type="button" class="btn btn-outline-success" id="AddThemDichVu">
                            <i class="bi bi-plus"></i> Thêm dịch vụ
                        </button>
                    </div>

                    <div class="col-md-12 text-right">
                        <strong>
                            <span>Tổng tiền phòng:</span> <span id="TongTienPhong">0</span><span> VNĐ</span>
                            <br />
                            <span>Tổng tiền dịch vụ đã đặt:</span> <span id="TongTienDichVuDaDat">0</span><span> VNĐ</span>
                            <br />
                            <span>Tổng cộng:</span> <span id="TongTien">0 </span><span> VNĐ</span>
                        </strong>
                        <div id="TongDichVuDaDat" style="display:none;"></div>
                        <br/>
                        <br/>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group float-right">
                            <strong for="khachTraTruoc" class="mt-3">Khách trả trước</strong>
                            <input type="number" min="0" value="0" class="form-control col-md-12 mb-3" name="khachTraTruoc" id="khachTraTruoc" required>
                            <span id="errorKhachTraTruoc" style="color: red;"></span>
                            <button class="btn btn-success float-right" id="NhanPhong_PopUp">Nhận phòng</button>
                        </div>

                    </div>
                </div>
               
            </div>
        </div>
    </div>

    <div class="popup" id="formPopup">
        <h2>Thêm mới khách hàng</h2>
        <i class="fa fa-times close-icon" onclick="closeForm()"></i>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="name">Họ tên</label>
                    <input type="text" class="form-control" name="name" id="name" required>
                </div>
                <div class="form-group">
                    <label for="gioiTinh">Giới tính</label>
                    <select class="form-control" name="gioiTinh" id="gioiTinh">
                        <option value="Nam">Nam</option>
                        <option value="Nu">Nữ</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="cccd">CMND/CCCD</label>
                    <input type="text" class="form-control" name="cccd" id="cccd" required>
                </div>
                <div class="form-group">
                    <label for="phone">Số điện thoại</label>
                    <input type="text" class="form-control" name="phone" id="phone" required>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" name="email" id="email" required>
                </div>
                <div class="form-group">
                    <label for="ngaySinh">Ngày sinh</label>
                    <input type="date" class="form-control" name="ngaySinh" id="ngaySinh" required>
                </div>
                <div class="form-group">
                    <label for="diaChi">Địa chỉ</label>
                    <input type="text" class="form-control" name="diaChi" id="diaChi" required>
                </div>
            </div>
            <button class="btn btn-secondary cancel" onclick="closeForm()">Bỏ qua</button>
            <button class="btn btn-success save">Lưu</button>
        </div>
    </div>



    <div class="popupThanhToan" id="paymentPopup">
        <div class="header">
            <h1>Thanh toán phòng <span id="MaPhong_ThanhToan"></span></h1>
        </div>
        <div class="content">
            <table>
                <tr>
                    <th>Mã đặt phòng</th>
                    <td id="maDatPhongThanhToan_PopUp">DP001</td>
                </tr>
                <tr>
                    <th>Loại phòng</th>
                    <td id="loaiPhongThanhToan_PopUp">Phòng đơn</td>
                </tr>
                <tr>
                    <th>Số người</th>
                    <td><span id="soLuongNguoiLonThanhToan_PopUp">1</span> người lớn - <span id="soLuongTreEmThanhToan_PopUp">2</span> trẻ em</td>
                </tr>
                <tr>
                    <th>Thời gian nhận</th>
                    <td id="thoiGianNhanThanhToan_PopUp">25/11/2023 14:00</td>
                </tr>
                <tr>
                    <th>Thời gian trả</th>
                    <td id="thoiGianTraThanhToan_PopUp">04/12/2023 17:04</td>
                </tr>
                <tr>
                    <th>Hình thức đặt phòng</th>
                    <td id="hinhThucDatPhongThanhToan_PopUp"></td>
                </tr>
                <tr>
                    <th>Giá phòng</th>
                    <td id="giaPhongThanhToan_PopUp">
                        <span>Giá theo giờ: </span><span id="giaTheoGioThanhToan_PopUp">100000000</span>
                        <br />
                        <span>Giá theo ngày: </span><span id="giaTheoNgayThanhToan_PopUp">200000000</span>
                    </td>
                </tr>
                <tr>
                    <th>Tên khách hàng</th>
                    <td id="tenKhachHangThanhToan_PopUp">Nguyễn văn a</td>
                </tr>
                <tr>
                    <th>Số điện thoại</th>
                    <td id="soDienThoaiThanhToan_PopUp">0123123123</td>
                </tr>
            </table>
            <h2>Thông tin dịch vụ</h2>
            <table class="table table-bordered table-striped">
                <tr>
                    <th>#</th>
                    <th>Mã DV</th>
                    <th>Tên DV</th>
                    <th>Số lượng</th>
                    <th>Đơn giá</th>
                    <th>Thành tiền</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>DV001</td>
                    <td>Đưa đón sân bay</td>
                    <td>2</td>
                    <td>60.000đ</td>

                </tr>

            </table>
            <h2>Thông tin thanh toán</h2>
            <table>
                <tr>
                    <th>Tổng tiền phòng</th>
                    <td id="tongTienPhongThanhToan_PopUp">2.000.000 VNĐ</td>
                </tr>
                <tr>
                    <th>Tổng tiền dịch vụ</th>
                    <td id="tongTienDichVu_PopUp">60.000 VNĐ</td>
                </tr>
                <tr>
                    <th>Số tiền khách đã trả</th>
                    <td id="soTienKhachDaTra_PopUp">2.060.000 VND</td>
                </tr>
                <tr>
                    <th>Tổng tiền</th>
                    <td id="tongTienThanhToan_PopUp">2.060.000 VND</td>
                </tr>

               @*  <tr>
                    <th>Tiền thanh toán</th>
                    <td><input type="number" placeholder="Nhập số tiền khách đưa" id="money"></td>
                </tr> *@
            </table>
            <div class="button-group d-flex justify-content-end mt-3">
                <button class="btn btn-danger mr-2" onclick="closePopupThanhToan()">Đóng</button>
                <button class="btn btn-success" onclick="ThanhToan()">Thanh toán</button>
            </div>
        </div>
    </div>
    <div class="overlayThanhToan" id="overlayThanhToan" onclick="closePopupThanhToan()"></div>


    </div>
    <script src="~/JsDatPhong/JsDatPhong.js"></script>
    <script>
        function filterRooms(status) {
            $(".room").hide();

            //Hiện thị phòng theo trạng thái đã chọn
            if (status === "all") {
                $(".room").show();
            } else {
                $(".room").each(function () {
                    var roomStatus = $(this).find(".trangthai").text().toLowerCase();
                    if (roomStatus === status) {
                        $(this).show();
                    }
                });
            }
        }

        // Xử lý các nút đã click vào
        $("#TimKiemTatCa").click(function () {
            filterRooms("all");
        });

        $("#TimKiemTrong").click(function () {
            filterRooms("trống");
        });

        $("#TimKiemDaDat").click(function () {
            filterRooms("đã được thuê");
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        function showSwalToast(icon, title) {
            const Toast = Swal.mixin({
                toast: true,
                position: "top-end",
                showConfirmButton: false,
                timer: 1500,
                timerProgressBar: true,
                didOpen: (toast) => {
                    toast.onmouseenter = Swal.stopTimer;
                    toast.onmouseleave = Swal.resumeTimer;
                }
            });

            Toast.fire({
                icon: icon,
                title: title
            });
        }
        var swalIcon = '@TempData["SwalIcon"]';
        var swalTitle = '@TempData["SwalTitle"]';

        if (swalIcon && swalTitle) {
            showSwalToast(swalIcon, swalTitle);
        }
    </script>
</body>
</html>