@model List<QuanLyKhachSan.Models.HoaDon>
@inject ApplicationDbContext _db;
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quản lý hóa đơn</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
            min-height: 900px;
        }
        
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th,
        td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }

        .action-btn {
            padding: 8px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        .details-btn {
            background-color: #4caf50;
            color: #fff;
        }

        .accept-btn {
            background-color: #008CBA;
            color: #fff;
        }

        .cancel-btn {
            background-color: #f44336;
            color: #fff;
        }

        .action-btn:hover {
            filter: brightness(85%);
        }

        /* Popup Style */
        .popup-container {
            display: none;
            position: absolute;
             top: 120%; 
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            border-radius: 5px;
            padding: 20px;
            z-index: 1;
            max-height: 80vh;
            overflow-x:auto;
        }

        .overlay {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5);
            z-index: 1;
        }

        .button-container {
            text-align: center;
            margin-top: 20px;
        }

        .button {
            padding: 10px;
            margin: 0 10px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

            .button:hover {
                filter: brightness(85%);
            }

       
    </style>
</head>
<body>
    <section>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Tổng quan</a></li>
            <li class="breadcrumb-item active" aria-current="page">Hóa đơn</li>
        </ol>
    </section>

    <div class="row">
        <div class="col-sm-4">
        
        </div>
        <div class="col-sm-6">
            <input type="text" id="searchInput" class="form-control mb-3" placeholder="Tìm kiếm">
        </div>
    </div>

    <table>
        <tr>
            <th>#</th>
            <th>Mã hóa đơn</th>
            <th>Mã Phòng-Loại phòng</th>
            <th>Tên khách hàng</th>
            <th>Số điện thoại</th>
            <th>Thời gian nhận phòng</th>
            <th>Thời gian trả phòng</th>
            <th>Tên nhân viên</th>
            <th>Xử lý</th>
        </tr>
        @{
            int i = 0;
        }
        @foreach (var hoadon in Model)
        { var qr_DatPhong = _db.DatPhong.FirstOrDefault(s => s.MaDatPhong == hoadon.MaDatPhong);
            var qr_Phong = _db.Phong.FirstOrDefault(s => s.MaPhong == qr_DatPhong.MaPhong);
            var qr_LoaiPhong = _db.LoaiPhong.FirstOrDefault(s => s.MaLoaiPhong == qr_Phong.MaLoaiPhong);
            var qr_KhachHang = _db.KhachHang.FirstOrDefault(s => s.MaKhachHang == qr_DatPhong.MaKhachHang);
            var qr_NhanVien = _db.NhanVien.FirstOrDefault(s => s.MaNhanVien == qr_DatPhong.MaNhanVien);
            i = i + 1;
            <tr>
            
               

            <td>@i</td>
            <td>@hoadon.MaHoaDon</td>
            <td>@qr_DatPhong.MaPhong - @qr_LoaiPhong.TenLoaiPhong</td>
            <td>@qr_KhachHang.TenKhachHang</td>
            <td>@qr_KhachHang.SoDienThoai</td>
            <td>@qr_DatPhong.NgayNhan</td>
            <td>@qr_DatPhong.NgayTra</td>
            <td>@qr_NhanVien.MaNhanVien - @qr_NhanVien.TenNhanVien</td>
            <td>
                <button class="action-btn accept-btn" id="XemHoaDon" onclick="XemChiTietHoaDon('@hoadon.MaHoaDon')">Xem</button>
                <button class="action-btn details-btn">Xuất</button>
            </td>
            
            </tr>
            }
    </table>


    <div class="overlay" id="overlay"></div>
    <div class="popup-container" id="popup">
        <div class="header">
            <h1 class="title">Hóa đơn</h1>
        </div>
        <div class="content">
            <table class="table">
                <tr>
                    <th>Mã hóa đơn</th>
                    <td id="MaHoaDon_ChiTiet">{{maDatPhong}}</td>
                </tr>
                <tr>
                    <th>Mã đặt phòng</th>
                    <td id="MaDatPhong_ChiTiet">{{maDatPhong}}</td>
                </tr>
                <tr>
                    <th>Mã phòng</th>
                    <td id="MaPhong_ChiTiet">{{maPhong}}</td>
                </tr>
                <tr>
                    <th>Mã khách hàng</th>
                    <td id="MaKhachHang_ChiTiet">{{maKhachHang}}</td>
                </tr>
                <tr>
                    <th>Tên khách hàng</th>
                    <td id="TenKhachHang_ChiTiet">{{tenKhachHang}}</td>
                </tr>
                <tr>
                    <th>Số lượng người lớn và trẻ em</th>
                    <td id="SoLuongNguoiLon_ChiTiet">{{soLuongNguoiLon}} người lớn - {{soLuongTreEm}} trẻ em</td>
                </tr>
                <tr>
                    <th>Hình thức đặt phòng</th>
                    <td id="HinhThucDatPhong_ChiTiet">{{hinhThucDatPhong}}</td>
                </tr>
                <tr>
                    <th>CCCD</th>
                    <td id="CCCD_ChiTiet">{{cccd}}</td>
                </tr>
                <tr>
                    <th>Số điện thoại</th>
                    <td id="SoDienThoai_ChiTiet">{{soDienThoai}}</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td id="Email_ChiTiet">{{Email}}</td>
                </tr>
                <tr>
                    <th>Thông tin đặt phòng</th>
                    <td>
                        <table class="table">
                            <tr>
                                <th>Loại phòng</th>
                                <td id="LoaiPhong_ChiTiet">{{loaiPhong}}</td>
                            </tr>
                            <tr>
                                <th>Giá phòng</th>
                                <td id="GiaPhong_ChiTiet">{{giaPhong}}</td>
                            </tr>
                            <tr>
                                <th>Thời gian nhận phòng</th>
                                <td id="ThoiGianNhanPhong_ChiTiet">{{thoiGianNhanPhong}}</td>
                            </tr>
                            <tr>
                                <th>Thời gian trả phòng</th>
                                <td id="ThoiGianTraPhong_ChiTiet">{{thoiGianTraPhong}}</td>
                            </tr>

                        </table>
                    </td>
                </tr>
                <tr>
                <th>Dịch vụ</th>
                    <td>

                        <table class="table">

                            <thead>

                                <tr>

                                    <th>Mã dịch vụ</th>

                                    <th>Tên dịch vụ</th>

                                    <th>Giá dịch vụ</th>

                                    <th>Số lượng dịch vụ</th>

                                </tr>

                            </thead>

                            <tbody id="DichVuCon">


                            </tbody>

                        </table>

                    </td>
                </tr>
                <tr>
                    <th>Tổng tiền</th>
                    <td id="TongTien_ChiTiet">{{TongTien}}</td>
                </tr>
            </table>


            <div class="button-container">
                <button class="action-btn cancel-btn"  onclick="closePopup()">Đóng</button>
                <button class="action-btn details-btn" onclick="huyDatPhong()">In hóa đơn</button>
            </div>
        </div>
    </div>
    <script src="~/js//JsHoaDon.js">
    </script>
    <script>
        $(document).ready(function () {
            $("#searchInput").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("table tbody tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
                });
            });

            // Bắt sự kiện thay đổi giá trị trong dropdown "Show"
            $('select[name="example_length"]').on('change', function () {
                var selectedValue = $(this).val();
                $('#formExample').submit(); // Gửi biểu mẫu khi giá trị thay đổi
            });
        });
    </script>
</body>
</html>