@{
    Layout = null;
}
@using System.Security.Claims;
@{
    var userRole = User.FindFirst(ClaimTypes.Role)?.Value;
    var userName = User.FindFirst(ClaimTypes.UserData)?.Value;
    var TenNguoiDung = User.FindFirst(ClaimTypes.Name)?.Value;
}
@model List<QuanLyKhachSan.Models.Phong>

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang Chủ</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
   
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="~/css/CssTrangChuKhachHang.css" rel="stylesheet" />
</head>


<body>
    <div id="container">
        <div class="nav-main-top">
            <ul class="group-1">
                <li>
                    <i class="bi bi-telephone-fill"></i><span style="font-size:18px; font-weight:600">0869536182</span>
                </li>
                <li>
                    <i class="bi bi-facebook"></i>
                </li>
                <li>
                    <i class="bi bi-instagram"></i>
                </li>
                <li>
                    <i class="bi bi-youtube">

                    </i>
                </li>
            </ul>
            <ul class="logo">
                <li>
                    <img src="https://i.ibb.co/HXp0Y2Y/Screenshot-2-preview-rev-1.png" />
                </li>
            </ul>
            <ul class="group-2">
                @if(userName ==null){
                         <li>
                    <a asp-action="Login" asp-controller="Access" >Đăng nhập </a>
                </li>
                <li>
                        | Đăng kí
                </li>
                }
                else
                {
                    <li>Xin chào! @TenNguoiDung</li>
                    <li><a asp-action="LogOut" asp-controller="TrangChuKhachHang">Đăng xuất</a></li>
                }
              
                
            </ul>
        </div>
        <div class="sreach-room  position-sticky top-0">
            <div class="address row ">
                <div class="col-md-2 mb-3 mx-auto ">
                    <label for="validationDefaultUsername">Địa chỉ khách sạn</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroupPrepend2"><i class="bi bi-geo-alt-fill"></i></span>
                        </div>
                        <input type="text" class="form-control" id="validationDefaultUsername" aria-describedby="inputGroupPrepend2" value="Nguyễn Tất Thành, Tp BMT" required>
                    </div>
                </div>

                <div class="col-md-2 mb-3 mx-auto">
                    <label for="ngaynhan">Ngày nhận </label>
                    <div class="input-group date" id="ngaynhanPicker" data-target-input="nearest">
                        <input type="datetime-local" class="form-control datetimepicker-input" data-target="#ngaynhanPicker" id="ipt_NgayNhan"  />
                    </div>
                </div>

                <div class="col-md-2 mb-3 mx-auto">
                    <label for="ngaytra"> Ngày trả</label>
                    <div class="input-group date" id="ngaytraPicker" data-target-input="nearest">
                        <input type="datetime-local" class="form-control datetimepicker-input" data-target="#ngaytraPicker" id="ipt_NgayTra"/>
                    </div>
                </div>

                <div class="col-md-1 mb-3 so-phong mx-auto">
                    <label for="sophong">SL người lớn</label>
                    <div class="input-group date" id="ngaytraPicker" data-target-input="nearest">

                    <input type="number" id="SlNguoiLon" class="form-control" value="1" min="1" required />
                    </div>
                  
                </div>
                <div class="col-md-1 mb-1 so-phong mx-auto">
                    <label for="sophong">SL trẻ em</label>
                    <div class="input-group date" id="ngaytraPicker" data-target-input="nearest">

                        <input type="number" id="SlTreEm" class="form-control" value="1" min="1" required />
                    </div>

                </div>

                <div class="col-md-2 Tim-kiem text-md-end">
                    <a class="btn btn-warning" id="TimKiemPhong">Tìm kiếm phòng</a>
                </div>
            </div>
        </div>






        <div id="infor-hotel">
            <div class="img-hotel">
                <img src="https://images.bubbleup.com/width1920/quality35/mville2017/1-brand/1-margaritaville.com/gallery-media/220803-compasshotel-medford-pool-73868-1677873697.jpg" width="300" height="300" />
                
            </div>
            <div class="content-infor-hotel">
                <h2>ASAP Grand Da Nang</h2>
                <p>
                    <i class="bi bi-geo-alt-fill"></i>   Số 962, đường Ngô Quyền, phường An Hải Tây, quận Sơn Trà, thành phố Đà Nẵng, Việt Nam

                </p>
                <p><i class="bi bi-telephone"></i> +84 236 3939 928</p>
                <p>Là thành viên thứ 18 của chuỗi khách sạn tư nhân lớn nhất Việt Nam, khách sạn 4 sao ASAP Grand Đà Nẵng tọa lạc tại vị trí đắc địa, nằm giữa một bên là sông Hàn thơ mộng, một bên là bãi biển đẹp nhất Miền Trung</p>
            </div>
        </div>
        <h1 id="Report_Phong">Phòng tìm kiếm không hợp lệ</h1>
        <div id="room-infor" class="container">
            <div class="row">
                <div class="col-md-8">
                    <!-- Room Detail 1 -->
                    @foreach (var phong in Model)
                    {
                    <div class="room-detail">
                        @if (phong.ImageLinks != null && phong.ImageLinks.Any())
                        {
                            <!-- Your existing code for Room Detail 1 goes here -->
                            <img src="~/UploadImage/@phong.ImageLinks.First().Url" alt="First Image" class="img_detail_room" />
                        }
                        <div class="room-info">
                            <h3>@phong.MaPhong | Khu vực: @phong.KhuVuc</h3>
                            <span id="@phong.MaPhong" class="room-type"></span>
                            <span id="loaiPhong-@phong.MaPhong">Hai giường đơn</span>
                            <span>Giá theo giờ: <span id="pricetheogio-@phong.MaPhong" class="room-price" style="color:green;font-weight:700;"></span></span><span>Giá theo ngày: <span id="pricetheongay-@phong.MaPhong" style="color:green;font-weight:700;"></span></span>
                                <span>Số lượng người lớn: <span id="slNguoiLon-@phong.LoaiPhong.SoLuongNguoiLon">@phong.LoaiPhong.SoLuongNguoiLon</span></span>
                                <span>Số lượng trẻ em: <span id="slTreEm-@phong.LoaiPhong.SoLuongTreEm">@phong.LoaiPhong.SoLuongTreEm</span></span>
                            <span id="phuThuTraMuon-@phong.MaPhong"></span>
                            <a class="btn btn-warning" onclick="DatPhong('@phong.MaPhong')">Đặt ngay</a>
                        </div>
                    </div>
                    }
                    
                   
                </div>
               
                   
                
                <div class="col-md-4">
                    <!-- Information Detail -->
@*                     <div class="infor-detail  position-sticky " style="top:85px">
 *@
                    <div class="infor-detail ">
                        <!-- Your existing code for Information Detail goes here -->
                        <div class="infor-booked-room">
                            <h5>Thông tin đặt phòng</h5>
                            <hr />
                            <p>ASAP Grand Đà Nẵng</p>
                            <span>Thời gian đặt phòng:</span><span id="ngaynhan_text"></span> - <span id="ngaytra_text"></span>(<span id="ngay_text">0</span> ngày <span id="gio_text">0</span> giờ)
                         <br />
                            <span>Số lượng người lớn: </span><span id="SoLuongNguoiLonDat_text">0</span><span> người</span>
                            <br/>
                            <span>Số lượng trẻ em: </span><span id="SoLuongTreEmDat_text">0</span><span> người</span>

                            <hr />
                            <p>Thông tin phòng</p>
                            <div id="Infor_Phong_Chon"></div>
                            <hr />
                            <p>Thông tin dịch vụ</p>
                            <div id="Infor_DichVu_Chon">
                               @* dịch vụ *@
                                <div id="ChonDichVu">
                                   
                                </div>                                  
                                <button type="button" class="btn btn-outline-success" id="AddThemDichVu"><i class="bi bi-plus"></i></button>

                            </div>
                            <hr />
                            <span>Tổng cộng:</span> <span id="TongTien">0 VND</span>
                            <br />
                            <a class="btn btn-warning button_bookroom " id="btn_DatPhong">Đặt ngay</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<footer class="text-center text-lg-start text-white" style="background-color: #1c2331">
    <!-- Section: Social media -->
      
        <div>
            <a href="" class="text-white me-4">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="" class="text-white me-4">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="" class="text-white me-4">
                <i class="fab fa-google"></i>
            </a>
            <a href="" class="text-white me-4">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="" class="text-white me-4">
                <i class="fab fa-linkedin"></i>
            </a>
            <a href="" class="text-white me-4">
                <i class="fab fa-github"></i>
            </a>
        </div>
        <!-- Right -->
    
    <section class="">
        
        <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <!-- Content -->
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3891.9091181247622!2d108.0787266!3d12.7193516!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3171f7f4d3cab885%3A0x62453fb0d0ac7b44!2zS2jDoWNoIFPhuqFuIEFTQVA!5e0!3m2!1svi!2s!4v1700876295377!5m2!1svi!2s" width="300" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold">Products</h6>
                    <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px" />
                    <p>
                        <a href="#!" class="text-white">MDBootstrap</a>
                    </p>
                    <p>
                        <a href="#!" class="text-white">MDWordPress</a>
                    </p>
                    <p>
                        <a href="#!" class="text-white">BrandFlow</a>
                    </p>
                    <p>
                        <a href="#!" class="text-white">Bootstrap Angular</a>
                    </p>
                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold">Useful links</h6>
                    <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px" />
                    <p>
                        <a href="#!" class="text-white">Your Account</a>
                    </p>
                    <p>
                        <a href="#!" class="text-white">Become an Affiliate</a>
                    </p>
                    <p>
                        <a href="#!" class="text-white">Shipping Rates</a>
                    </p>
                    <p>
                        <a href="#!" class="text-white">Help</a>
                    </p>
                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold">Contact</h6>
                    <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px" />
                    <p><i class="fas fa-home mr-3"></i> New York, NY 10012, US</p>
                    <p><i class="fas fa-envelope mr-3"></i> info@example.com</p>
                    <p><i class="fas fa-phone mr-3"></i> + 01 234 567 88</p>
                    <p><i class="fas fa-print mr-3"></i> + 01 234 567 89</p>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
    </section>
   
   <script src="~/js/JsTrangChuKhachHang.js"></script>
 
   
    <!-- Copyright -->
</footer>


</html>
