
@{
    Layout = null;

}
@inject ApplicationDbContext _db;   
@using System.Security.Claims;
@{
    var userRole = User.FindFirst(ClaimTypes.Role)?.Value;
    var userName = User.FindFirst(ClaimTypes.UserData)?.Value;
    var TenNguoiDung = User.FindFirst(ClaimTypes.Name)?.Value;
    var MaNguoiDung = User.FindFirst(ClaimTypes.Surname)?.Value;
}
<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/CssThongTinDatPhong/CssThongTinDatPhong.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    
    <title>Thông tin đặt phòng</title>
    <style>
        .profile {
            position: relative;
        }

            .profile img {
                width: 36px;
                height: 36px;
                border-radius: 50%;
                object-fit: cover;
                cursor: pointer;
                z-index: 999;
            }

            .profile .profile-link {
                position: absolute;
                top: calc(100% + 10px);
                right: 0;
                background: var(--light);
                padding: 10px 0;
                box-shadow: 4px 4px 16px rgba(0, 0, 0, .1);
                border-radius: 10px;
                width: 160px;
                opacity: 0;
                pointer-events: none;
                transition: all .3s ease;
            }

                .profile .profile-link.show {
                    opacity: 1;
                    background: white;
                    pointer-events: visible;
                    top: 100%;
                    z-index: 999;
                }

                .profile .profile-link a {
                    padding: 10px 16px;
                    display: flex;
                    grid-gap: 10px;
                    font-size: 14px;
                    color: var(--dark);
                    align-items: center;
                    transition: all .3s ease;
                }

                    .profile .profile-link a:hover {
                        background: var(--grey);
                        text-decoration: none;
                    }
    </style>
</head>

<body>
    <div id="body">


        <nav>
            <div class="logo">
                <a class="active" asp-action="Index" asp-controller="TrangChuKhachHang">Trang chủ <img src="https://i.ibb.co/HXp0Y2Y/Screenshot-2-preview-rev-1.png" alt=""></a>
            </div>
            <ul>
                <li><a class="active" asp-action="Index" asp-controller="TrangChuKhachHang">Trang chủ</a></li>
            </ul>
            <input type="checkbox" id="click">
            <label for="click" class="menu-btn">
                <i class="fas fa-bars"></i>
            </label>
            <ul>
                <!-- <li><a class="active" href="#">Trang chủ</a></li>
                <li><a href="#">Đặt chỗ nghỉ</a></li> -->
                @if (userName == null)
                {
                    <li>
                        <a asp-action="Login" asp-controller="Access">Đăng nhập </a>
                    </li>
                    <li>
                        <p style="  font-size: 18px; font-weight: 500;">|</p>
                    </li>
                    <li><a asp-action="GiaoDienDangKy" asp-controller="Access">Đăng ký</a></li>
                }
                else
                {
                    <div class="profile">
                        <span>Xin chào! @TenNguoiDung</span>
                        <img src="https://cdn.gogeticon.net/files/1925428/fa0cbc2764f70113bf2fad3905933545.png">
                        <ul class="profile-link">
                            @if (userRole == "Nhân viên" || userRole == "Quản lý")
                            {
                                <li><a asp-action="Index" asp-controller="Home">Quản lý</a></li>
                            }

                            <li><a asp-action="LogOut" asp-controller="Home"><i class='bx bxs-log-out'></i> Đăng xuất</a></li>
                        </ul>
                    </div>
                }
            </ul>
        </nav>


        <form id="myForm" method="post" action="/TrangChuKhachHang/Index" id="myForm">
            <div class="row">
                <div class="col-md-6">
                    <section id="thong-tin-nguoi-dat-phong">
                        <h2>Thông tin người đặt phòng</h2>

                        <input value="@MaNguoiDung" hidden />
                        @{
                            var qr_NhanVien = _db.NhanVien.FirstOrDefault(s => s.MaNhanVien == MaNguoiDung);
                            var qr_KhachHang = _db.KhachHang.FirstOrDefault(s => s.MaKhachHang == MaNguoiDung);
                            if (qr_NhanVien != null)
                            {

                                <div class="form-group">
                                    <label>Tên khách hàng</label>
                                    <input class="form-control" value="@qr_NhanVien.TenNhanVien" name="tenkhachhang" id="inputFieldTenKH" placeholder="Nhập họ và tên" style='text-transform:uppercase' />
                                    <span id="errorTenKH" style="color: red;"></span>
                                </div>
                                <div class="form-group">
                                    <label>Giới tính</label>
                                    @if (qr_NhanVien.GioiTinh == "Nam")
                                    {
                                        <select class="form-select" name="gioitinh" id="gioitinh">
                                            <option value="Nam">
                                                Nam
                                            </option>
                                        </select>
                                    }
                                    else
                                    {
                                        <select class="form-select" name="gioitinh" id="gioitinh">
                                            <option value="Nữ">
                                                Nữ
                                            </option>
                                        </select>
                                    }

                                </div>
                                <div class="form-group">
                                    <label>Số điện thoại</label>
                                    <input class="form-control" value="@qr_NhanVien.SoDienThoai" name="sodienthoai" id="inputFieldSDT" maxlength="10" placeholder="Nhập số điện thoại" />
                                    <span id="errorSDT" style="color: red;"></span>
                                </div>
                                <div class="form-group">
                                    <label>Email</label>
                                    <input class="form-control" name="email" value="@qr_NhanVien.Email" id="inputFieldEmail" placeholder="Nhập email" />
                                    <span id="errorEmail" style="color: red;"></span>
                                </div>
                                <div class="form-group">
                                    <label>CCCD</label>
                                    <input class="form-control" name="cccd" value="@qr_NhanVien.CCCD" id="inputFieldCCCD" maxlength="12" placeholder="Nhập CCCD" />
                                    <span id="errorCCCD" style="color: red;"></span>
                                </div>

                                var ngaysinhnhanvien = qr_NhanVien.NgaySinh.ToString("yyyy-MM-dd");

                                <div class="form-group">
                                    <label>Ngày sinh</label>
                                    <input class="form-control" type="date" value="@ngaysinhnhanvien" name="ngaysinh" id="inputFieldNgaySinh" />
                                    <span id="errorNgaySinh" style="color: red;"></span>
                                </div>
                                <div class="form-group">
                                    <label>Địa chỉ</label>
                                    <input class="form-control" name="diachi" id="inputFieldDiaChi" value="@qr_NhanVien.DiaChi" maxlength="50" />
                                    <span id="errorDiaChi" style="color: red;"></span>
                                </div>
                            }
                            else if (qr_KhachHang != null)
                            {

                                <div class="form-group">
                                    <label>Tên khách hàng</label>
                                    <input class="form-control" value="@qr_KhachHang.TenKhachHang" name="tenkhachhang" id="inputFieldTenKH" placeholder="Nhập họ và tên" style='text-transform:uppercase' />
                                    <span id="errorTenKH" style="color: red;"></span>
                                </div>
                                <div class="form-group">
                                    <label>Giới tính</label>
                                    @if (qr_KhachHang.GioiTinh == null)
                                    {
                                        <select class="form-select" name="gioitinh" id="gioitinh">
                                            <option value="Nam">
                                                Nam
                                            </option>
                                            <option value="Nữ">
                                                Nữ
                                            </option>
                                        </select>
                                    }
                                    else if (qr_KhachHang.GioiTinh == "Nam")
                                    {
                                        <select class="form-select" name="gioitinh" id="gioitinh">
                                            <option value="Nam">
                                                Nam
                                            </option>
                                        </select>
                                    }
                                    else
                                    {
                                        <select class="form-select" name="gioitinh" id="gioitinh">
                                            <option value="Nữ">
                                                Nữ
                                            </option>
                                        </select>
                                    }
                                </div>
                                <div class="form-group">
                                    <label>Số điện thoại</label>
                                    <input class="form-control" value="@qr_KhachHang.SoDienThoai" name="sodienthoai" id="inputFieldSDT" maxlength="10" placeholder="Nhập số điện thoại" />
                                    <span id="errorSDT" style="color: red;"></span>
                                </div>
                                <div class="form-group">
                                    <label>Email</label>
                                    <input class="form-control" value="@qr_KhachHang.Email" name="email" id="inputFieldEmail" placeholder="Nhập email" />
                                    <span id="errorEmail" style="color: red;"></span>
                                </div>
                                <div class="form-group">
                                    <label>CCCD</label>
                                    <input class="form-control" value="@qr_KhachHang.CCCD" name="cccd" id="inputFieldCCCD" maxlength="12" placeholder="Nhập CCCD" />
                                    <span id="errorCCCD" style="color: red;"></span>
                                </div>

                                string formattedDate = qr_KhachHang.NgaySinh.HasValue ? qr_KhachHang.NgaySinh.Value.Date.ToString("yyyy-MM-dd") : "";
                                <div class="form-group">
                                    <label>Ngày sinh</label>
                                    <input class="form-control" type="date" value="@formattedDate" name="ngaysinh" id="inputFieldNgaySinh" />
                                </div>
                                <div class="form-group">
                                    <label>Địa chỉ</label>
                                    <input class="form-control" value="@qr_KhachHang.DiaChi" name="diachi" id="inputFieldDiaChi" maxlength="50" />
                                    <span id="errorDiaChi" style="color: red;"></span>
                                </div>
                            }
                            else
                            {

                                <div class="form-group">
                                    <label>Tên khách hàng</label>
                                    <input class="form-control" name="tenkhachhang" id="inputFieldTenKH" placeholder="Nhập họ và tên" style='text-transform:uppercase' />
                                    <span id="errorTenKH" style="color: red;"></span>
                                </div>
                                <div class="form-group">
                                    <label>Giới tính</label>
                                    <select class="form-select" name="gioitinh" id="gioitinh">
                                        <option value="Nam">
                                            Nam
                                        </option>
                                        <option value="Nữ">
                                            Nữ
                                        </option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Số điện thoại</label>
                                    <input class="form-control" name="sodienthoai" id="inputFieldSDT" maxlength="10" placeholder="Nhập số điện thoại" />
                                    <span id="errorSDT" style="color: red;"></span>
                                </div>
                                <div class="form-group">
                                    <label>Email</label>
                                    <input class="form-control" name="email" id="inputFieldEmail" placeholder="Nhập email" />
                                    <span id="errorEmail" style="color: red;"></span>
                                </div>
                                <div class="form-group">
                                    <label>CCCD</label>
                                    <input class="form-control" name="cccd" id="inputFieldCCCD" maxlength="12" placeholder="Nhập CCCD" />
                                    <span id="errorCCCD" style="color: red;"></span>
                                </div>
                                <div class="form-group">
                                    <label>Ngày sinh</label>
                                    <input class="form-control" type="date" name="ngaysinh" id="inputFieldNgaySinh" />
                                    <span id="errorNgaySinh" style="color: red;"></span>
                                </div>
                                <div class="form-group">
                                    <label>Địa chỉ</label>
                                    <input class="form-control" name="diachi" id="inputFieldDiaChi" maxlength="50" />
                                    <span id="errorDiaChi" style="color: red;"></span>
                                </div>
                            }
                        }
                    </section>
                </div>
                <div class="col-md-6">
                    <section id="thong-tin-phong">
                        <h2>Thông tin đặt phòng</h2>
                        <hr />
                        <h3>ASAP Buôn Ma Thuột</h3>
                        <strong>Thời gian đặt phòng: </strong><span id="ngaynhan_text"></span> - <span id="ngaytra_text"></span>
                        <br />
                        <strong>Tổng: </strong><span id="ngay_text">0</span> ngày <span id="gio_text">0</span> giờ
                        <br />
                        @* <strong>Số lượng người lớn trong phòng: </strong><span id="SoLuongNguoiLonDat_text">0</span><span> người</span>
                        <br />
                        <strong>Số lượng trẻ em trong phòng: </strong><span id="SoLuongTreEmDat_text">0</span><span>
                        người
                        </span> *@

                        <hr />
                        <h3>Thông tin phòng</h3>
                        <div id="Infor_Phong_Chon">
                            <strong id="maPhongDatPhong"> Mã phòng: </strong><span id="maPhong_DatPhong"></span> - <span id="loaiPhongDatPhong"></span>

                            <br id="break2" />
                            <strong>Giá theo giờ:</strong> <span id="giaTheoGioDatPhong">Giá theo giờ: </span> <br />
                            <strong>Giá theo ngày:</strong> <span id="giaTheoNgayDatPhong">Giá theo ngày: </span>
                            <br id="break3" />
                            <strong id="SoLuongNguoiLonDatPhong">Số lượng người lớn ở: </strong><span id="giaTriSoLuongNguoiLonDat"></span>
                            <br />
                            <strong id="soLuongTreEmDatPhong">Số lượng trẻ em ở: </strong><span id="giaTriSoLuongTreEmDat"></span>
                            <br id="break4" />
                        </div>
                        <hr />
                        <h3>Thông tin dịch vụ</h3>
                        <div id="Infor_DichVu_Chon">
                            @* dịch vụ *@

                            <div id="ChonDichVu">
                            </div>


                        </div>
                        <hr />
                        <h3>Thành tiền</h3>


                        <strong>Tổng tiền phòng:</strong> <span style="color:#FFCA2C" id="TongTienPhong">0</span><span style="color:#FFCA2C"> VNĐ</span>
                        <br />
                        <strong>Tổng tiền dịch vụ:</strong> <span style="color:#FFCA2C" id="TongTienDichVuDaDat">0 VND</span><span style="color:#FFCA2C"> VNĐ</span>
                        <br />
                        <strong>Tổng cộng:</strong> <span style="color:#FFCA2C" id="TongTien">0 VND</span><span style="color:#FFCA2C"> VNĐ</span>


                    </section>
                    <section id="phuong-thuc-thanh-toan">
                        @*  <h4>Phương thức thanh toán</h4>
                        <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                        <label class="form-check-label" for="flexRadioDefault1">
                        Trả trước khi nhận phòng
                        </label>
                        </div>
                        <div class="Khach_Tra_Truoc">
                        <label style="font-size:1vw">Số tiền khách trả trước</label>
                        <input type="number" class="form-control w-75" />
                        </div>
                        <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                        <label class="form-check-label" for="flexRadioDefault2">
                        Trả sau khi nhận phòng
                        </label>
                        </div> *@

                    </section>
                    <button type="submit" class="btn btn-warning button_bookroom" id="DatPhong">Xác nhận đặt phòng</button>

                </div>


            </div>





        </form>
    </div>
    <script>
        // PROFILE DROPDOWN
        const profile = document.querySelector('nav .profile');
        const imgProfile = profile.querySelector('img');
        const dropdownProfile = profile.querySelector('.profile-link');

        imgProfile.addEventListener('click', function () {
            dropdownProfile.classList.toggle('show');
        })

    </script>
    <script src="~/js/ThongTinDatPhong.js"></script>
    <script src="~/Folder_KiemLoiInput/ErrorThongTinDatPhong.js"></script>
</body>
</html>